* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #D1F5FF;
}

.header {
    margin: 2% 0 3% 0;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-field {
    margin-bottom: 1%;
}

.search-field input {
    border-radius: 3px;
    border: 0px;
    padding: 3px;
}

.search-field button {
    border-radius: 3px;
    border: 0px;
    padding: 3px 20px;
    border-radius: 3px;
    background-color: green;
    color: white;
}

.search-table {
    margin-bottom: 3%;
    text-align: center;
    width: auto;
}

.search-table table th {
    padding: 0 20px;

}

.data-table {
    border: 0px;
    margin-bottom: 2%;
    padding: 5px;
}

.data-table tr th {
    border: 0px;
    border-radius: 3px;
    background: white;
    padding: 3px 40px;

}

.data-table tr:nth-child(even) {
    border: 0;
    border-radius: 3px;
    background: #f8f8ff;
}

.data-table tr:nth-child(odd) {
    border: 1px solid #373492;
    border-radius: 3px;
    background: #FDFF79;
}

.data-table td {
    text-align: center;
}

.data-table button {
    padding: 3px 20px;
    border-radius: 3px;
    border: 0;
    background-color: orange;
}

.data-table button a {
    text-decoration: none;
    color: black;
}

.input-form input {
    border-radius: 3px;
    border: 0px;
    padding: 3px;
}

.input-form select {
    border-radius: 3px;
    border: 0px;
    padding: 2px;
}

.input-form button {
    border-radius: 3px;
    border: 0px;
    padding: 3px 20px;
    background-color: green;
    color: white;
}
